:root {
    // Color
    // --color-primary: linear-gradient(135deg, #2d8c4d, #1d874a);
    // --color-primary-reverse: linear-gradient(135deg, #1d874a, #2d8c4d);
    // --color-secondary: linear-gradient(135deg, #1d874a, #2d8c4d);

    --color-primary: #34A4B6;
    // --color-primary: rgb(16, 68, 141);
    // --color-primary-transparent: rgba(220, 28, 3, 0.5);
    // --color-secondary: #CE1D23;
    // --color-tertiary: #282828; 
    // --color-danger: red; 
    // --color-light: lightgray;
    // --color-text: white;
    
    // Font
    --font-family: 'SF Pro Text Regular';
    --font-size: 13px;
}