<ion-header class="cus-detail-header">
    <ion-toolbar>
      <ion-icon class="cus-info-back ion-margin-start" name="arrow-back" slot="start" (click)="back()"></ion-icon>
      <ion-title style="text-align: center;padding-top: 5px;">{{'changePassword.changePassword' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-img src="../../../assets/icon/password.svg" class="pr-10"></ion-img>
        <ion-input #currentPass [type]="inputElementCurrentPassWord.type" [(ngModel)]="changePasswordModel.currentPassWord" placeholder="{{'changePassword.currentPassword' | translate}}" clearOnEdit="false" [autofocus]="focusCurrentPass"></ion-input>
        <ion-img [src]="inputElementCurrentPassWord.src" (click)="onClickCurrentPassWord()" [hidden]="inputElementCurrentPassWord.hidden"></ion-img>
      </ion-item>
      <ion-item>
        <ion-img src="../../../assets/icon/password.svg" class="pr-10"></ion-img>
        <ion-input [type]="inputElementPassword.type" [(ngModel)]="changePasswordModel.newPassWord" placeholder="{{'changePassword.newPassword' | translate}}" clearOnEdit="false" [autofocus]="focusPass"></ion-input>
        <ion-img [src]="inputElementPassword.src" (click)="onClickPassword()" [hidden]="inputElementPassword.hidden"></ion-img>
      </ion-item>
      <ion-item>
        <ion-img src="../../../assets/icon/password.svg" class="pr-10"></ion-img>
        <ion-input [type]="inputElementConfirmPassword.type" [(ngModel)]="confirmPass" placeholder="{{'changePassword.ConfirmNewPassword' | translate}}" clearOnEdit="false" [autofocus]="focusConfirmPass"></ion-input>
        <ion-img [src]="inputElementConfirmPassword.src" (click)="onClickConfirmPassword()" [hidden]="inputElementConfirmPassword.hidden"></ion-img>

      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button class="btn-setting-save" (click)="save()">{{'changePassword.completed' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>