<ion-content class="otp-container">
    <ion-row class="otp-header">
        <ion-toolbar style="--background: #fff;">
          <ion-icon style="color: #000" name="arrow-back" slot="start" (click)="close()"></ion-icon>
        </ion-toolbar>
    </ion-row>

    <ion-row class="otp-content">
        <ion-col>
            <img src="../../../assets/images/img_forgot_passWord_update.svg" />
        </ion-col>
    </ion-row>

    <ion-row class="otp-content">
        <ion-col>
            <p class="forgot-password">{{'signin.forgotPassword1' | translate}}</p>
        </ion-col>
    </ion-row>

    <ion-row class="otp-content">
        <ion-col>
            <p class="forgot-password-message">{{'signin.textFooter3' | translate}}</p>
        </ion-col>
    </ion-row>

    <ion-item class="input" lines="inset">
        <ion-label>
            <img src="../../../assets/icon/icon_phone_update.svg"/>
        </ion-label>
        <ion-input [(ngModel)]="phoneNumber" type="tel" placeholder="{{'signin.phone' | translate}}">
        </ion-input>
    </ion-item>

    <ion-row class="signup-btn">
        <ion-col style="padding-top: 20px;">
            <ion-button (click)="signUp()" fill="clear" class="btn-login">
              <p style="color: #fff;">{{'signin.confirm' | translate}}</p>
            </ion-button>
        </ion-col>
    </ion-row> 

</ion-content>
