<ion-content class="otp-container">
    <ion-row class="otp-header">
        <ion-toolbar>
          <ion-icon name="arrow-back" slot="start" (click)="close()"></ion-icon>
        </ion-toolbar>
    </ion-row>

    <ion-row class="otp-content">
        <ion-col>
            <img src="../../../assets/images/img_reset_password.svg" />
        </ion-col>
    </ion-row>

    <ion-row class="otp-content">
        <ion-col>
            <p class="forgot-password">{{'resetPassword.resetPassWord' | translate}}</p>
        </ion-col>
    </ion-row>

    <ion-row class="otp-content">
        <ion-col>
            <p class="forgot-password-message">{{'resetPassword.textFooter1' | translate}}</p>
        </ion-col>
    </ion-row>

    <ion-item class="input" lines="inset">
        <ion-label>
            <img src="../../../assets/images/icon_phone.svg"/>
        </ion-label>
        <ion-input [(ngModel)]="changePasswordModel.newPassWord" [type]="inputElementPassword.type" placeholder="{{'resetPassword.textFooter1' | translate}}">
        </ion-input>
        <ion-img [src]="inputElementPassword.src" (click)="onClickPassword()" [hidden]="inputElementPassword.hidden"></ion-img>
    </ion-item>

    <ion-item class="input" lines="inset">
        <ion-label>
            <img src="../../../assets/images/icon_phone.svg"/>
        </ion-label>
        <ion-input [(ngModel)]="passWordConfirm" [type]="inputElementConfirmPassword.type" placeholder="{{'resetPassword.textFooter2' | translate}}">
        </ion-input>
        <ion-img [src]="inputElementConfirmPassword.src" (click)="onClickConfirmPassword()" [hidden]="inputElementConfirmPassword.hidden"></ion-img>
    </ion-item>
    
    <ion-row class="signup-btn">
        <ion-col style="padding-top: 20px;">
            <ion-button (click)="signUp()" fill="clear" class="btn-login">
              <p style="color: #fff;">{{'signin.confirm' | translate}}</p>
            </ion-button>
        </ion-col>
    </ion-row> 

</ion-content>
